$dark-primary: #222831;
$dark-secondary: #393e46;
$brand: #47c5b0;
$brand-dark: #3aad9a;
$brand2: #31a17c;
$brand2-dark: #2d9472;
$sweet-red: #ee3b62;
$blue: #4ca0d1;
$text-primary: #e3e3e3;
$text-secondary: #c2c2c2;
$text-gray: #a7a7a7;
